/* Wildcard */
* {
        box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Nav */
 .navbar-brand {
    font-family: 'Reenie Beanie', sans-serif !important;
    font-size: 34px !important;
} 

/* Containers on page */
.about-container h2,  #projects h2, #contact h2 {
    text-align: center;
    padding: 25px;
    font-family: 'Staatliches', sans-serif;
    font-size: 30px;
}

.about-container .row p, .row .col-sm {
    text-align: center;
}

/* About Section */
.about-container {
    background-color: #dcedc1;
    width: 100%;
    height: 400px;
}
.about-container p {
    max-width: 350px;
    margin: auto;
}
  .about-container .hello {
    font-family: 'Reenie Beanie', sans-serif !important;
    font-size: 42px !important;
} 

/* Projects Section */
.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-gap: 20px;
    
}
.proj-div-0, .proj-div-1, .proj-div-2, .proj-div-3 {
    padding-top: 20px;
    padding-left: 40px;
    width: 300px;
    height: 300px;
    border: 3px solid #ececec;
    align-self: center;
}

.proj-title-0, .proj-title-1, .proj-title-2, .proj-title-3 {
    font-size: 22px;
}
.proj-img-0 {
    width: 220px;
    height: 183px;
}
.proj-img-1 {
  width: 220px;
  height: 152px;
}
.proj-img-2 {
    width: 220px;
    height: 137px;
}
.proj-img-3 {
    width: 220px;
    height: 121px;
}

.proj-description-0, .proj-description-1, .proj-description-2, .proj-description-3 {
    font-size: 16px;
}


/* Contact Form Section */
.form-container {
    padding: 25px;
    width: 100%;
    height: 650px;
}

.form-container label {
    font-size: 22px;
    font-family: 'Staatliches', sans-serif;
}

.contact {
    font-family: 'Staatliches', sans-serif !important;
    color: white !important;
    background-color: navy !important;
    border: navy !important;
    font-size: 19px !important;
}

#contact p {
    padding: 25px;
}
.form-container {
    background-image: url("../images/unsplash2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer  */
footer {
    width: 100%;
    height: 100px;
    background-color: #fcf7bb; /* palegreen */
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.icons i {
    padding: 40px 15px;
}

footer p {
    text-align: center;
    font-size: 12px;
}

/* Hover */
a {
    text-decoration: none;
}
.icons i {
    color:navy;
}

footer i:hover {
    color: darkorange;
}

/* Responsive styling for Contact Form  */
@media screen and (min-width: 572px) {
    .form-container {
    padding: 25px;
    width: 100%;
    height: 630px;
    }
}

/* Responsive styling for Contact Form  */
@media screen and (min-width: 577px) {
    .col-form-label {
      padding-right: 70px !important;
    }
}

/* Responsive - Resizing header image   */
@media screen and (min-width: 600px) {
    .card-img {
        height: 300px;
    }
}

/* Responsive - Tablet (min-width:768px)  */
@media screen and (min-width: 768px) {
    .card-img {
        height: 300px;
    }

    /* About Section */
    .about-container {
        background-color: #dcedc1;
        width: 100%;
        height: 350px;
    }
    .about-container p {
        max-width: 650px;
        margin: auto;
    }
    .about-container .hello {
        font-family: 'Reenie Beanie', sans-serif !important;
        font-size: 44px !important;
    } 

    .proj-img-0, .proj-img-1, .proj-img-2, .proj-img-3 {
        width: auto;
        height: 180px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-gap: 30px;
    }

    .proj-div-0, .proj-div-1, .proj-div-2, .proj-div-3 {
        width: 300px;
        height: 300px;
        padding-left: 40px;
    }
    .proj-img-0 {
        width: 220px;
        height: 183px;
    }
    .proj-img-1 {
        width: 220px;
        height: 152px;
    }
    .proj-img-2 {
        width: 220px;
        height: 137px;
    }
    .proj-img-3 {
        width: 220px;
        height: 121px;
    }

    .proj-div-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 30px;
        border: 3px solid #ececec;
    }

    .proj-div-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 3px solid #ececec;
    }

    .proj-div-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 30px;
        border: 3px solid #ececec;
    }

    .proj-div-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border: 3px solid #ececec;
        
    } 

    .form-container {
    padding: 25px;
    width: 100%;
    height: 500px;
    }
}  

/* Responsive - Desktop (min-width:1024px)  */
@media screen and (min-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem !important;
        padding-left: 1rem !important;
    }
    .card-img {
        height: 300px;
    }

    /* About Section */
    .about-container {
        background-color: #dcedc1;
        width: 100%;
        height: 320px;
    }
    .about-container p {
        max-width: 800px;
        margin: auto;
    }
    .about-container .hello {
        font-family: 'Reenie Beanie', sans-serif !important;
        font-size: 48px !important;
    } 
    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-gap: 30px;
    }

    .proj-div-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border: 3px solid #ececec;
    }

    .proj-div-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 3px solid #ececec;
    }

    .proj-div-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        border: 3px solid #ececec;
        margin-left: 0px;
       
    }
    .proj-div-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border: 3px solid #ececec;
        margin-left: 30px;
   
    }
    .form-container {
    padding: 25px;
    width: 100%;
    height: 550px;
    }

}